name: Scala CI

on:
  push:
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 17
      uses: actions/setup-java@v2
      with:
        java-version: '17'
        distribution: 'adopt'
    - name: Install SBT
      uses: sbt/setup-sbt@v1
    - name: Check headers
      run: sbt +headerCheck
    - name: Compile everything
      run: sbt +compile +test:compile
    - name: Run tests
      run: sbt +test
